---
import BaseLayout from "/src/layouts/base-layout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.date}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>作者：{frontmatter.author}</p>
    <p>{frontmatter.tags}</p>
    <slot />
</BaseLayout>
